<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href=".././static/site.css" rel="stylesheet" type="text/css">
    <title>Chess Exercises</title>
    <link rel="icon" type="image/x-icon" href=".././static/images/favicon3.ico">
  </head>

  <body>
    <nav class="navbar navbar-light" style="background-color: #c8dae6">
      <div class="container-fluid">
        <a class="navbar-brand" href="homepage">
          <img src=".././static/images/chess.png" width="80" height="50" alt="">
        </a>
      </div>
    </nav>
    <p><br></p>
    <h3>&nbsp;Please choose the options you prefer.</h3>

    <div id="main-wrapper">
      <form action="/exercises" method="POST" id="main-form">
        <div class="row">
          <div class="col-5">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">

                    <!-- CHECKBOXES -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="False" id="randomized" name="randomized" aria-describedby="randomized-help" onclick="showSelectPieces()">
                      <label class="form-check-label">Select pieces</label>
                      <small id="randomized-help" class="form-text">
                        <br>Enable to enter specific piece types and quantities. Otherwise, amounts and types of pieces on the board will be completely random, i.e. a player can get from 0 up to 31 pieces.
                      </small>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="True" id="extra_populated" name="extra_populated" aria-describedby="extra-populated-help">
                      <label class="form-check-label">Overpopulated</label>
                      <small id="extra-populated-help" class="form-text">
                        <br>If selected, the board could have a maximum of 8 pieces per type of piece, e.g. 8 queens, 4 rooks, 2 bishops, 5 knights.
                        <br>Otherwise, the maximum amount of each piece will be the same as the starting position: 8 pawns, 2 knights/bishops/rooks, 1 queen.
                      </small>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="True" id="equal_material" name="equal_material" aria-describedby="equal-material-help">
                      <label class="form-check-label">Equal material</label>
                      <small id="equal-material-help" class="form-text">
                        <br>White and Black will have equal material on the board.
                      </small>
                    </div>
                    <br>

                    <!-- INPUTS -->
                    <div class="row">
                      <div class="card bg-selectPiecesCard" id="select-pieces-card" style="display:none">
                        <div class="card-body">
                          <div class="row">

                            <p>
                              <i>Choose the pieces.</i>
                            </p>
                            <div class="col-6">
                              <h4>
                                White&nbsp;
                                <img src=".././static/images/whitepawn.jpg" class="smallImage" width="25" height="30" alt="">
                              </h4>
                              <label for="white_pawns">Pawns</label>
                              <select id="white_pawns" class="selectPieces" name="white_pawns" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                              </select>
                              <br>
                              <label for="white_knights">Knights</label>
                              <select id="white_knights" class="selectPieces" name="white_knights" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                              <br>
                              <label for="white_bishops">Bishops</label>
                              <select id="white_bishops" class="selectPieces" name="white_bishops" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                              <br>
                              <label for="white_rooks">Rooks</label>
                              <select id="white_rooks" class="selectPieces" name="white_rooks" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                              <br>
                              <label for="white_queens">Queens</label>
                              <select id="white_queens" class="selectPieces" name="white_queens" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                            </div>
                            <div class="col-6">
                              <h4>
                                Black&nbsp;
                                <img src=".././static/images/blackpawn.jpg" class="smallImage" width="25" height="30" alt="">
                              </h4>
                              <label for="black_pawns">Pawns</label>
                              <select id="black_pawns" class="selectPieces" name="black_pawns" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                              </select>
                              <br>
                              <label for="black_knights">Knights</label>
                              <select id="black_knights" class="selectPieces" name="black_knights" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                              <br>
                              <label for="black_bishops">Bishops</label>
                              <select id="black_bishops" class="selectPieces" name="black_bishops" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                              <br>
                              <label for="black_rooks">Rooks</label>
                              <select id="black_rooks" class="selectPieces" name="black_rooks" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                              <br>
                              <label for="black_queens">Queens</label>
                              <select id="black_queens" class="selectPieces" name="black_queens" form="main-form">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                              </select>
                            </div>
    
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="submit" id="go" class="btn btn-primary">Go!</button>
                  </div>
                </div>
              </div>
            </div>
            <p><br><br></p>
          </div>

          <div class="col-sm-7" id="fen-board">
            <!-- TODO printa FEN correttamente e scacchiera -->
            {% if fen %}
            The FEN: <br> {{ fen }}
            <br><br>
            The board:
            <br>
            {{ board }}
            {% else %}
            
            {% endif %}
          </div>
      </form>
    </div>

    <!-- * I did not manage to put the bottom navbar at the end of the page regardless of the screen dimension. -->
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <div class="col-4">
        <div class="container">
          <div style="float:left">
            Author: Riccardo Spadini
          </div>
          <div style="padding-left:20px;float:left">
            <a href="mailto:riccardospadini95@gmail.com">
              <img src=".././static/images/gmail.ico" class="smallImage" width="20" height="20" alt="">
            </a>
          </div>
          <div style="padding-left:12px;float:left">
            <a href="https://www.linkedin.com/in/riccardo-spadini/" target="_blank" rel="noopener noreferrer">
              <img src=".././static/images/linkedin.ico" class="smallImage" width="20" height="20" alt="">
            </a>
          </div>
          <div style="padding-left:10px;float:left">
            <a href="https://github.com/RicSpd/chess-exercises" target="_blank" rel="noopener noreferrer">
              <img src=".././static/images/github.ico" class="smallImage" width="24" height="24" alt="">
            </a>
          </div>
          <div style="padding-left:10px;float:left">
            <a href="https://stackoverflow.com/users/7465462/ric-s" target="_blank" rel="noopener noreferrer">
              <img src=".././static/images/stackoverflow.ico" class="smallImage" width="20" height="20" alt="">
            </a>
          </div>
        </div>
      </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src=".././static/js/exercises.js"></script>

  </body>
</html>